@model Seguros.Entities.Entities.TipoCubrimiento

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Tipo Cubrimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cobertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cobertura) %
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>

